# Data Class Builders

Спрощує створення класів призначених для зберігання даних. Автоматично генерує `__init__`, `__eq__`, `__repr__` та інші. 

[Посилання на розділ](https://learning.oreilly.com/library/view/fluent-python-2nd/9781492056348/ch05.html#idm46582452300336)

### Що ми розглянемо?

У цьому розділі пояснюється три способи створювати класи для зберігання даних у Python:

`collections.namedtuple`
– Найстаріший спосіб (із Python 2.6). Дозволяє створити простий і легкий клас для даних без додаткових фіч.

`typing.NamedTuple`
– Схожий на namedtuple, але з підтримкою type hints і можливістю описувати поля через синтаксис класів (із Python 3.5, оновлений у 3.6).

`@dataclasses.dataclass`
– Найпотужніший і найзручніший спосіб (із Python 3.7). Дає багато можливостей для кастомізації, наприклад, незмінюваність (frozen), значення за замовчуванням, автоматичне створення методів тощо.

Після цього автор розгляне концепцію “Data Class” як code smell — коли клас лише зберігає дані, але не містить логіки. Це вважається ознакою поганого дизайну в об’єктно-орієнтованому програмуванні.

## Data class builders Overview 25.08

#### Coordinate class build with simple class

collections.namedtuple

In [2]:
class Coordinate:
    def __init__(self, lat, lon):
        self.lat = lat
        self.lon = lon

`__repr__` inherited from object is not very helpful

In [3]:
kyiv = Coordinate(55.76, 37.62)
kyiv

In [4]:
location = Coordinate(55.76, 37.62)
location

the `__eq__` method inherited from object compares object IDs

In [5]:
location == kyiv

False

In [6]:
(location.lat, location.lon) == (kyiv.lat, kyiv.lon)

True

#### Coordinate class build with data class

This is an example of namedtuple (the older one)

In [9]:
from collections import namedtuple
Coordinate = namedtuple('Coordinate', 'lat lon')
issubclass(Coordinate, tuple)

True

In [11]:
kyiv = Coordinate(55.756, 37.617)
kyiv

Coordinate(lat=55.756, lon=37.617)

In [12]:
location = Coordinate(55.756, 37.617)
location

Coordinate(lat=55.756, lon=37.617)

In [13]:
kyiv == location

True

#### Lets rewrite this with newer named tuple:

In [19]:
import typing
Coordinate = typing.NamedTuple('Coordinate', lat=float, lon=float)
issubclass(Coordinate, tuple)

True

In [15]:
typing.get_type_hints(Coordinate)

{'lat': float, 'lon': float}

In [20]:
kyiv = Coordinate(55.756, 37.617)
location = Coordinate(55.756, 37.617)
kyiv == location

True

Also it can be used in a class statement:

In [23]:
from typing import NamedTuple

class CoordinateClass(NamedTuple):
    lat: float
    lon: float

In [24]:
kyiv = CoordinateClass(55.756, 37.617)
location = CoordinateClass(55.756, 37.617)
kyiv == location

True

typing.NamedTuple uses the advanced functionality of metaclass (chapter 24) to customize the creation of the user's class, so

In [25]:
issubclass(CoordinateClass, tuple)

True

#### And the very new decorator @dataclass:

In [27]:
from dataclasses import dataclass

@dataclass(frozen=True)
class CoordinateDataClass:
    lat: float
    lon: float

In [28]:
kyiv = CoordinateClass(55.756, 37.617)
location = CoordinateClass(55.756, 37.617)
kyiv == location

True

In [29]:
issubclass(CoordinateClass, tuple)

True

### Схожості і відмінності

#### Mutability  

collections and typing - immutable   
@dataclass - mutable  

#### Class statement  

typing and @dataclass - підтримують класи  
collections - не підтримує, на то вони і collections  

#### Construct a dict
Всі три мають можливість конструювання словника.  
collections and typing роблять це як `._asdict`  
dataclass має функцію `dataclasses.asdict`  

#### Get field names and default values
Всі три можуть повернути імена полів і додати значення по замовченню  


#### Get field types
typing і @dataclass можуть повернути типи полів  


#### New instance with changes
Всі три досволяють створити новий екземпляр зі змінами  

#### New class at runtime
collections.namedtuple - створить новий клас або кортеж в рантаймі для collections and typing  
make_dataclass - для @dataclass

## Classic Named Tuples 25.08

`collections.namedtuple` це factory яка створює підклас кортежу розширений імʼям поля, класу і інформативним `__repr__`

Ознайомитися з реалізацією можна в cpython: `Lib/collections/__init__.py`

### Приклади

In [34]:
from collections import namedtuple
City = namedtuple('City', 'name country population coordinates')
tokyo = City('Tokyo', 'JP', 36.933, (35.68, 139.69))
tokyo

City(name='Tokyo', country='JP', population=36.933, coordinates=(35.68, 139.69))

Робота з екземпляром

In [35]:
tokyo.population

36.933

In [36]:
tokyo.coordinates

(35.68, 139.69)

In [37]:
tokyo[1]

'JP'

Робота з кортежем

In [38]:
City._fields

('name', 'country', 'population', 'coordinates')

## Typed Named Tuples 26.08

typing.NamedTuple

## More About @dataclass 26.08

## Data Class as Code Smell 27.08

## Pattern Matching Class Instances 27.08

## Приклади з Flask або Django 28.08

## Summary і підготовка відео з розбором 29.08 пт

In [ ]:
Спочатку розповісти що це і показати в фреймворках де зустрічається і чому.
Потім вже досліджувати що це більш детально